Repository brazilsinghrittik/hot-tasking-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: Component: Frontend, Component: Backend, Component: Infrastructure, dependencies, javascript, python, Type: Translations

Deployed 6147adab with MkDocs version: 1.5.3
  sitemap.xml.gz
Labels: none

docs: remove info about running independent dockerised postgres
  docs/developers/development-setup.md
Labels: none

Working on a fix for Live Monitoring map
  frontend/package.json
  frontend/yarn.lock
Labels: Component: Frontend, dependencies, javascript

backend: Add ability to delete a user
  backend/api/users/resources.py
  backend/models/postgis/application.py
  backend/models/postgis/message.py
  backend/services/users/osm_service.py
  backend/services/users/user_service.py
  tests/backend/integration/api/users/test_resources.py
  tests/backend/integration/services/users/test_osm_service.py
  tests/backend/integration/services/users/test_user_service.py
Labels: Component: Backend

backend: Use planet.osm.org/users_deleted/users_deleted.txt to avoid hammering API
  backend/api/users/resources.py
  backend/models/postgis/user.py
  backend/services/users/osm_service.py
  tests/backend/integration/services/users/test_osm_service.py
Labels: Component: Backend

Initial UI work
  frontend/src/components/deleteModal/index.js
  frontend/src/components/deleteModal/messages.js
  frontend/src/components/teamsAndOrgs/management.js
  frontend/src/components/user/forms/personalInformation.js
  frontend/src/components/user/list.js
  frontend/src/components/user/messages.js
Labels: Component: Frontend

Update list.test.js
  frontend/src/components/user/tests/list.test.js
Labels: Component: Frontend

Updated Config and 2 other files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  _config.yml
Labels: Component: Infrastructure

.github/labeler.yml:

"Component: Frontend":
  - frontend/**/*
"Component: Backend":
  - backend/**/*
  - tests/**/*
  - migrations/**/*
  - ./manage.py
  - ./requirements.txt
"Component: Infrastructure":
  - .circleci/*
  - .github/**/*
  - scripts/aws/**/*
  - scripts/docker/**/*
  - scripts/install/**/*
  - docker-*.yml
"dependencies":
  - frontend/yarn.lock
  - ./requirements.txt
"javascript":
  - frontend/yarn.lock
"python":
  - ./requirements.txt
"Type: Translations":
  - frontend/src/locales/*
